* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    ;
}

html {
    font-size: 16px;
}

body {
    background-color: #482A0C;
}



@use './blocks/header/header';
@use './blocks/header/media';

@use './blocks/main/main';
@use './blocks/main/media';

@use './blocks/footer/footer';
@use './blocks/footer/media';


@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}